@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2B2929;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  height: 48px;
  background-color: #1A1A1A;
  padding: 6px 9px;
  justify-content: space-between;
  align-items: center;
}

header > img {
  width: 36px;
}

header > p {
  color: white;
}

header span {
  color: #D31010;
}

aside {
  width: 150px;
  height: 100%;
  background-color: #3F3F3F;
  color: white;
  padding-top: 20px;
}

.aside__item > * {
  margin-left: 10px;
}

.aside__item {
  display: flex;
  width: 100%;
  height: 24px;
  font-size: 12px;
  align-items: center;
  background-color: #524F4F;
}

.aside__item > svg{
  color: #D9D9D9;
  font-size: 10px;
}