@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2B2929;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  height: 48px;
  background-color: #1A1A1A;
  padding: 6px 20px;
  justify-content: space-between;
  align-items: center;
}

header > img {
  width: 36px;
  cursor: pointer;
}

header > p {
  color: white;
}

header span {
  color: #D31010;
}

header span:hover {
  color: #ee1616
}

.AppBody {
  display: flex;
  width: 100%;
  height: calc(100% - 48px);
  align-items: center;
}

aside {
  display: inline-flex;
  width: 150px;
  height: 100%;
  background-color: #333333;
  color: #BABABA;
  padding-top: 48px;
  flex-direction: column;
  user-select: none;
  gap: 5px;
  position: fixed;
  z-index: -1;
}

.aside__item {
  display: flex;
  width: 100%;
  height: 28px;
  font-size: 12px;
  align-items: center;
  background-color: #3F3F3F;
  cursor: pointer;
  position: relative;
}

.aside__item:hover > .aside__overlay{
  opacity: 0.1;
}

.aside__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: 0.4s;
  margin: 0!important;
}

.aside__item > * {
  margin-left: 10px;
}

.aside__item > p {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.aside__item > svg{
  color: #D9D9D9;
  font-size: 10px;
}

.Content {
  margin-left: 150px;
  width: 100%;
  height: 100%;
}

.Items__container {
  display: flex;
  width: 100%;
  height: fit-content;
  min-height: 547px;
  padding: 18px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.Items__single__container {
  cursor: pointer;
  width: calc(20% - 10px)
}

.Items__single__container:hover > .Items__single {
  background-color: #666565;
  transform: scale(1.02);
}

.Items__single {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  background-color: #555454;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}

.Items__single > img {
  width: 80%
}

.img_container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 194px;
  justify-content: center;
  align-items: center;
}

.img_container > img {
  width: 80%;
  max-height: 80%;
}

.Item__info {
  width: 100%;
  color: white;
  padding: 10px;
  text-align: left;
  background-color: #434141;
}

.Item__installments {
  color: #686868;
  font-size: 0.6em;
}

.Page__handler {
  display: flex;
  margin: 0 auto;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.Page__handler > button {
  color: white;
  width: 90px;
  height: 30px;
  background-color: #4B4B4B;
  border: 0;
  transition: 0.4s;
  cursor: pointer;
}

.Page__handler > button:hover {
  background-color: #616060;
}

.Page__counter {
  cursor: default;
  color: #A1A1A1;
}

.Page__counter > span {
  color: white;
}

@media (max-width: 600px)
{
  .Items__single__container {
    width: calc(100% - 10px);
  }

  .Items__single {
    height: 30vh;
  }
}

@media (max-width: 900px)
{
  .Items__single__container {
    width: calc(50% - 10px);
  }

  .Items__single {
    height: 30vh;
  }
}